### 전국 신용카드 데이터 불러오기

In [22]:
import pandas as pd

card_df = pd.read_csv('./csv/지역_유형별 신용카드_(단위_억).csv', encoding= 'utf-8')

### 공백 제거 및 인덱스 변경

In [23]:
# 공백 제거
card_df = card_df.replace(" ", "")

# 컬럼명 변경 및 인덱스 지정
card_df.rename(columns={'지역, 카테고리':'날짜'}, inplace= True)
card_df.set_index('날짜', inplace= True)

card_df.head()

,전국_합계,전국_종합소매,전국_ 백화점,전국_ 대형마트/유통전문점,전국_ 슈퍼마켓,전국_ 편의점,전국_ 면세점,전국_전자상거래/통신판매,전국_식료품,전국_ 일반식료품,...,기타_오락/문화,기타_ 스포츠/오락/여가,기타_ 서적/문구,기타_교육,기타_숙박/음식,기타_ 숙박,기타_ 음식점,기타_공과금/개인 및 전문 서비스,기타_금융/보험,기타_기타
날짜,,,,,,,,,,,,,,,,,,,,,
2012/11,299970.34,53558.49,13695.10,26123.23,10604.38,1826.54,1309.25,29166.45,4778.33,4171.52,...,199.11,170.57,28.54,59.54,406.89,32.29,374.60,135.28,149.68,220.67
2012/12,310533.02,57731.17,14542.45,28802.59,11308.05,1810.70,1267.38,29971.83,4895.34,4342.47,...,157.60,129.33,28.27,57.97,421.34,34.17,387.16,133.34,139.66,210.24
2013/01,296732.27,51384.80,11189.07,25640.42,11435.88,1778.78,1340.65,28545.80,5024.76,4400.68,...,148.65,118.30,30.35,70.66,435.66,39.59,396.07,159.48,144.30,230.65
2013/02,267365.92,48141.86,9748.40,25035.42,10602.32,1652.60,1103.11,24596.71,5510.28,4853.38,...,115.72,91.37,24.35,59.00,332.70,24.29,308.40,123.70,126.38,214.44
2013/03,295640.18,49572.79,10873.94,24769.86,10904.74,1877.38,1146.88,26704.28,4775.35,4113.91,...,167.24,129.95,37.29,66.02,376.96,26.64,350.32,129.63,141.08,225.45

### 지역 별로 데이터 분리

In [24]:
# 지역 확인
name = card_df.filter(regex='_합계')
name.columns

Index(['전국_합계', '서울_합계', '부산_합계', '대구_합계', '인천_합계', '광주_합계', '대전_합계', '울산_합계',
       '경기_합계', '강원_합계', '충북_합계', '충남_합계', '전북_합계', '전남_합계', '경북_합계', '경남_합계',
       '제주_합계', '기타_합계'],
      dtype='object')

In [25]:
# 전국
card_all_df = card_df.filter(regex='전국_')

# 광역 시도
card_seoul_df = card_df.filter(regex='서울_')
card_busan_df = card_df.filter(regex='부산_')
card_deagu_df = card_df.filter(regex='대구_')
card_incheon_df = card_df.filter(regex='인천_')
card_gwangju_df = card_df.filter(regex='광주_')
card_daejeon_df = card_df.filter(regex='대전_')
card_ulsan_df = card_df.filter(regex='울산_')

# 도
card_gyeonggi_df = card_df.filter(regex='경기_')
card_gangwon_df = card_df.filter(regex='강원_')
card_chungcheong_df = pd.merge(card_df.filter(regex='충북_'), card_df.filter(regex='충남_'), on="날짜", how="left")
card_chungbook_df = card_df.filter(regex='충북')
card_chungnam_df = card_df.filter(regex='충남')
card_jeolla_df = pd.merge(card_df.filter(regex='전북_'), card_df.filter(regex='전남_'), on="날짜", how="left")
card_jeonbook_df = card_df.filter(regex='전북')
card_jeonnam_df = card_df.filter(regex='전남')
card_kyungsang_df = pd.merge(card_df.filter(regex='경북_'), card_df.filter(regex='경남_'), on="날짜", how="left")
card_kyungbook_df = card_df.filter(regex='경북')
card_kyungnam_df = card_df.filter(regex='경남')
card_jeju_df = card_df.filter(regex='제주_')
card_etc_df = card_df.filter(regex='기타_')

### csv 파일로 저장

In [28]:
# 전국
card_all_df.to_csv('./data/카드_전국.csv', encoding='utf-8', index=True)

# 광역 시도
card_seoul_df.to_csv('./data/카드_서울.csv', encoding='utf-8', index=True)

card_busan_df.to_csv('./data/카드_부산.csv', encoding='utf-8', index=True)
card_deagu_df.to_csv('./data/카드_대구.csv', encoding='utf-8', index=True)
card_incheon_df.to_csv('./data/카드_인천.csv', encoding='utf-8', index=True)
card_gwangju_df.to_csv('./data/카드_광주.csv', encoding='utf-8', index=True)
card_daejeon_df.to_csv('./data/카드_대전.csv', encoding='utf-8', index=True)
card_ulsan_df.to_csv('./data/카드_울산.csv', encoding='utf-8', index=True)

# 도
card_gyeonggi_df.to_csv('./data/카드_경기.csv', encoding='utf-8', index=True)
card_gangwon_df.to_csv('./data/카드_강원.csv', encoding='utf-8', index=True)
card_chungcheong_df.to_csv('./data/카드_충청.csv', encoding='utf-8', index=True)
card_chungbook_df.to_csv('./data/카드_충북.csv', encoding='utf-8', index=True)
card_chungnam_df.to_csv('./data/카드_충남.csv', encoding='utf-8', index=True)
card_jeolla_df.to_csv('./data/차드_전라.csv', encoding='utf-8', index=True)
card_jeonbook_df.to_csv('./data/카드_전북.csv', encoding='utf-8', index=True)
card_jeonnam_df.to_csv('./data/카드_전남.csv', encoding='utf-8', index=True)
card_kyungsang_df.to_csv('./data/카드_경상.csv', encoding='utf-8', index=True)
card_kyungbook_df.to_csv('./data/카드_경북.csv', encoding='utf-8', index=True)
card_kyungnam_df.to_csv('./data/카드_경남.csv', encoding='utf-8', index=True)
card_jeju_df.to_csv('./data/카드_제주.csv', encoding='utf-8', index=True)
card_etc_df.to_csv('./data/카드_기타.csv', encoding='utf-8', index=True)